<!doctype html>
<html lang="en">
<head>
    <title>Newswall</title>
    <style>
        body {
            text-align: center;
        }
        .paper {
            <%= paper.style %>;
            filter: grayscale(100%);
        }
    </style>
</head>
<body>
<img class="paper" src="/archive/<%=paper.date%>/<%=paper.key%>.png" alt="<%=paper.name%>">
</body>
</html>
