<!doctype html>
<html lang="en">
<head>
    <title>Newswall</title>
    <style>
        body {
            text-align: center
        }
        .paper {
            filter: grayscale(100%)
        }
    </style>
</head>
<body>
<% if (paper) { %>
    <img class="paper" src="/archive/<%=paper.date%>/<%=paper.key%>.png" alt="<%=paper.name%>" style="<%=paper.style%>">
<% } else { %>
    <h1>No paper found</h1>
<% } %>
</body>
</html>
